<div class="login-container">
  <div class="login-card">
    <button class="close-btn" type="button" (click)="closeModal()">×</button>
    <h2>Sign In</h2>

    <input type="text" [(ngModel)]="email" placeholder="Email" />
    <input type="password" [(ngModel)]="password" placeholder="Password" />

    <div class="forgot">
      <a href="/forgot-password">Forgot Password?</a>
    </div>

    <button (click)="login()">Login</button>

    <hr />
    <div class="social-auth-buttons">
      <button class="social-btn google-btn" type="button" (click)="loginWithGoogle()">
        <i class="fab fa-google"></i>
        Sign in with Google
      </button>
      
      <button class="social-btn github-btn" type="button" (click)="loginWithGithub()">
        <i class="fab fa-github"></i>
        Sign in with GitHub
      </button>
    </div>

    <p class="small">Not registered? <a href="#" (click)="goToRegister($event)">Create an account</a></p>
  </div>
</div>